@charset "UTF-8";


.navbar {
    background-color: rgb(188, 139, 81);
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color:rgb(125, 96, 61);
}

.current-page{
	background-color:rgb(125, 96, 61);
}

div.count {
	position: absolute;
	top: 70px;
	left: 400px;
}

#makeboard {
	border: 1px solid black;
	margin: 40px;
}